@{
    ViewBag.Title = "Limtr reference site";
}
<div>
    <button id="fooButton">Operation Foo</button>
    <span id="fooMessage"/>
</div>
<div>
    <button id="barButton">Operation Bar</button>
    <span id="barMessage"/>
</div>
<script src="Scripts/jquery-1.10.2.js"></script> 
<script src="Scripts/index.js"></script> 