<div class="jumbotron">
    <h1>limtr</h1>
    <p class="lead">An ultra-simple rate limiting and throttling cloud service.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Start using the free version of Limtr now.  No registration, no payment, no setup required.</p>
        <p><a class="btn btn-default" href="#">Quick start &raquo;</a></p>
</div>
    <div class="col-md-4">
        <h2>Pricing options</h2>
        <p>Standard subscriptions start at $2 per month.  It pays for itself in just a few minutes of your time saved.</p>
        <p><a class="btn btn-default" href="#">Pricing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>API Documentation</h2>
        <p>Our documentation is easy to use and apply.</p>
        <p><a class="btn btn-default" href="Help">API Docs &raquo;</a></p>
    </div>
</div>
