<div class="jumbotron">
    <h1>limtr</h1>
    <p class="lead">An ultra-simple rate limiting and throttling cloud service</p>
    <p>PREVIEW</p>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Getting started</h2>
        <p>Start using the free version of Limtr right now.  No registration, no payment, no setup.  For Javascript use, no client library required.</p>
        <p>
            The free section of Limtr is set to a limit of 10 hits per operation key per 10 seconds, with a 200 ms throttle after 7 hits per 10 seconds.
            If you were invited to be a tester, <a href="mailto:pszalapski+limtr@gmail.com">contact us if you want a custom bucket set up with any limits you want.</a>
        </p>
        <h5>.NET client (NuGet package)</h5>
        <pre class="prettyprint">
using Limtr;
// ...
    public bool MyActionAttempt(string userName) {
        if (new Limiter().Forbids(userName)) return false;
        // invoke the full functionality here
        return true;
    }
         </pre>
        
        <h5>Javascript (no client required)</h5>
        <pre class="prettyprint">
$('#myButton').click(function () {
    $.ajax({
        type: 'POST',
        url: 'http://limtr.azurewebsites.net//api/limit?appKey=free&operationKey=myOperation1',
        success: function(isAllowed) {
            if (isAllowed) { /* invoke the full functionality here */ }
            else alert("Sorry, you have made too many attempts. Please try again later.");
        }
    });
});
        </pre>
        <p><a class="btn btn-default" href="~/Content/Limtr.0.1.0.nupkg">Download the prerelease .NET NuGet package, v. 0.1.0</a></p>
        @*<p><a class="btn btn-default" href="#">Quick start &raquo;</a></p>*@
        <p><a class="btn btn-default" href="Help">Full API Docs &raquo;</a></p>

</div>
    <div class="col-md-4">
        <h2>Pricing options</h2>
        <p>Standard subscriptions start at $X per month.  It pays for itself in just a few minutes of your time saved.</p>
        <p><a class="btn btn-default" href="#">Pricing &raquo;</a></p>
    </div>
 
    <div class="col-md-4">
        <h2>Support</h2>
        <p>Standard subscriptions include personal support, but you might not even need it.</p>
        <p><a class="btn btn-default" href="#">Get help &raquo;</a></p>
    </div>
</div>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>